<div id="arps" class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>SKU & File</th>
      <th>Platen</th>
      <th>ARP</th>
      <th>AR3</th>
      <th>Machine Settings</th>
      <th>Print Settings</th>
      <th>Image Settings</th>
      <th>Transparency</th>
      <th>Pretreat Settings</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% arps.each do |arp| %>

        <tr class="<%= arp_row_class arp %>">
          <td>
            <dl>
              <dt>SKU</dt> <dd><%= arp.sku %></dd>
              <dt>File</dt> <dd><%= arp.file_location %></dd>
            </dl>

          </td>
          <td>
            <%= arp.platen %>
          </td>
          <td>
            <dl>
              <dt>Mask</dt> <dd><%= arp.maskp %></dd>
              <dt>Highlight</dt> <dd><%= arp.highlightp %></dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>Mask</dt> <dd><%= arp.mask3 %></dd>
              <dt>Highlight</dt> <dd><%= arp.highlight3 %></dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>Multi Pass</dt> <dd><%= arp.multiple_pass %></dd>
              <dt>White Color Pause</dt> <dd><%= arp.white_color_pause %></dd>
              <dt>Unidirectional</dt> <dd><%= arp.unidirectional %></dd>
              <dt>Machine Mode</dt> <dd><%= arp.machine_mode %></dd>
              <dt>Ink</dt> <dd><%= arp.ink %></dd>
              <dt>Ink Volume</dt> <dd><%= arp.ink_volume %></dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>Black Ink</dt> <dd><%= arp.print_with_black_ink %></dd>
              <dt>CMYGray</dt> <dd><%= arp.cmy_gray %></dd>
              <dt>Resolution</dt> <dd><%= arp.resolution %></dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>Tolerance</dt> <dd><%= arp.tolerance %></dd>
              <dt>Choke Width</dt> <dd><%= arp.choke_width %></dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>Transparency</dt> <dd><%= arp.transparency %></dd>
              <dt>Red</dt> <dd><%= arp.transparency_red %></dd>
              <dt>Blue</dt> <dd><%= arp.transparency_blue %></dd>
              <dt>Green</dt> <dd><%= arp.transparency_green %></dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>Width</dt> <dd><%= arp.width %></dd>
              <dt>Height</dt> <dd><%= arp.height %></dd>
              <dt>From Top</dt> <dd><%= arp.from_top %></dd>
              <dt>From Center</dt> <dd><%= arp.from_center %></dd>
              <dt>Pretreat</dt> <dd><%= arp.pretreat_level %></dd>
            </dl>
          </td>
          <td>
            <div class="btn-group-vertical">
              <%= link_to edit_arp_path(arp), class: 'btn btn-default btn-sm' do %>
                  <span class="glyphicon glyphicon-list"></span> Edit
              <% end %>
              <%= link_to generate_arp_path(arp, source: :mock_bot), class: 'btn btn-default btn-sm' do %>
                  <span class="glyphicon glyphicon-refresh"></span> Generate
              <% end %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>