<div class="fields">
<%= f.text_field :spree_variable %>
  <%= f.text_field :mockbot_variable %>
  <%= f.text_field :value %>
  <%= f.hidden_field :arp_id %>
  <%= f.hidden_field :_destroy %>
  <%= f.hidden_field :id %>
  <p class="text-right">
    <%= link_to_remove_fields "remove", f %>
  </p>
</div>