<div class="container">
  <h1 class="page-header">Edit an ARP</h1>

  <div class="form-group">
    <%= bootstrap_form_for(@arp, layout: :horizontal) do |f| %>
        <%= f.alert_message 'Please fix the errors below.' %>
        <%= f.text_field :sku, placeholder: 'SKU', label: 'SKU', prompt: true %>
        <%= f.text_field :file_location, label: 'File Location', placeholder: 'Files can be found in this folder' %>
        <%= f.text_field :machine_mode, disabled: true %>

        <%= f.select :platen, Arp::PLATENS, prompt: true %>
        <%= f.select :ink, Arp::INKS, prompt: true %>
        <%= f.select :highlight3, (0..10).to_a, prompt: true %>
        <%= f.select :mask3, (0..10).to_a, prompt: true%>
        <%= f.select :highlightp, (0..3).to_a, prompt: true %>
        <%= f.select :maskp, (0..5).to_a, prompt: true %>

        <% %w(print_with_black_ink cmy_gray multiple_pass
                 white_color_pause unidirectional transparency).each do |attr|  %>
            <%= f.form_group attr, label: { text: attr.humanize } do %>
                <%= f.check_box attr, label: 'Check for Yes' %>
            <% end %>
        <% end %>

        <%= f.text_field :transparency_red, placeholder: '' %>
        <%= f.text_field :transparency_blue, placeholder: '' %>
        <%= f.text_field :transparency_green, placeholder: '' %>
        <%= f.text_field :tolerance, placeholder: '' %>
        <%= f.text_field :choke_width, placeholder: '' %>

        <%= f.text_field :width %>
        <%= f.text_field :height %>
        <%= f.text_field :from_top %>
        <%= f.text_field :from_center %>


        <%= f.text_field :resolution, disabled: true %>
        <%= f.text_field :ink_volume, placeholder: 'Assigned Automatically', disabled: true %>
        <%= f.submit 'Create' %>
    <% end %>
  </div>
</div>