<h1 class="page-header">Spreadsheets</h1>

<table class="table table-striped">
  <thead>
    <tr>
        <th>
            Spreadsheet ID
        </th>
        <th>
            Batch #
        </th>
          <th>
            File
          </th>
        <th>
            State
        </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @spreadsheets.each do |ss| %>
    <tr>
        <td>
          <%= ss.id %>
        </td>
        <td>
          <%= ss.batch_id %>
        </td>
      <td>
        <%= ss.file_file_name %>
      </td>
      <td>
        <%= ss.state %>
      </td>
      <td>
        <div class="btn-group">
          <%= link_to spreadsheet_path(ss), class: 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-list"></span> View
          <% end %>
          <%= link_to generate_arps_spreadsheet_path(ss), class: 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-refresh"></span> Generate
          <% end %>
          <%= link_to download_spreadsheet_path(ss, format: 'csv'), class: 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-save"></span> Download
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>